name: Lint

on: pull_request

permissions:
  contents: read

jobs:
  lint:
    name: Terraform Module # All downstream jobs are nested within this job in the GitHub UI.
    uses: craigsloggett-lab/.github/.github/workflows/lint-terraform.yml@main
    secrets:
      hcp-terraform-api-token: ${{ secrets.TF_TOKEN_app_terraform_io }}
